/* Global Themes */
body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    line-height: 1.5;
    margin: 0;
    padding: 0;
    background-color: lightgrey;
}
header{
    background: #35424a;
    color: white;
    padding-top: 30px;
    min-height: 90px;
    border-bottom: orange 3px solid; 
}

/* end of global theme*/

/* header theme */
.header{
    width: 80%;
    margin: auto;
    overflow: hidden;
}

header nav a{
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 16px;
}

ul{
    margin: 0;
    padding: 0;
}

header li{
    display: inline-flex;
    float: left;
    padding: 0 20px 0 20px;
}

header #heading{
    float: left;
}

header #heading h1{
    margin: 0;
}

header nav{
    float: right;
    margin-top: 10px;
}

header a:hover{
    color: orange;
    text-decoration-line: underline;
    font-weight: bold;
}

#search-bar{
    float: right;
    margin-bottom: 5px;
}

/** end of header theme**/

/** beginning of body styling**/
.btn{
    border-radius: 10% 10% 10% 10%;
    background: red;
    color: white; 
}

.btn:hover{
    background: white;
    color: red;
}

.content{
    margin-left: 1opx;
}

section{
    padding-left: 2em;
    display: inline-block;
    width: 80%;
    margin-bottom: 2em;
    border-top: #35424a 1px solid;
}

section a{
    padding: 3px;
    color: white;
    background: #35424a;
    text-decoration: none;
    font-size: 16px;
    border: orange 1px solid;
    box-shadow: 1px 1px 1px darkgray;
}

section button.vote{
    margin-left: 3px;
    float: right;
    color: white;
    background: orange;
}

section button:hover{
    color: orange;
    background: white;
}

section a:hover{
    color: red;
    text-decoration-line: underline;
}

section div.subject{
    padding: 5px;
}

textarea{
    padding: 10px;
    line-height: 1.5;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-shadow: 1px 1px 1px #999;
}

input{
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-shadow: 1px 1px 1px #999;
}

/** end of body styling**/